.tool {
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 3px;
  .tool-avatar {
    cursor: pointer;
    .tool-avatar-name {
      color: #fff;
      font-size: 16px;
      margin-top: 3px;
    }
  }
  .tool-github {
    color: rgba(255, 255, 255, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icon {
    font-size: 25px;
    cursor: pointer;
    z-index: 100;
    &:hover {
      color: skyblue;
    }
  }
}

.tool-user-upload {
  cursor: pointer;
}

.tool-backgroung-img {
  object-fit: cover;
  cursor: pointer;
}
